{% load static %}
{% load i18n %}
{% load get_setting %}

<!DOCTYPE html>
<html lang="{{ 'DEFAULT_LANGUAGE'|get_setting }}">

<head>
    <meta charset="utf-8">
    <title>Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="description">
    <meta name="keywords" content="key1,key2,key3">
    <meta name="author" content="author">

    <meta property="og:type" content="website"/>
    <meta property="og:title" content="site-title">
    <meta property="og:site_name" content="site-name">
    <meta property="og:description" content="description">
    <meta property="og:url" content="url">
    <meta property="og:locale" content="en_en">
    <meta property="og:image" content="url->img/voty_512x512.png" />

    <meta name="twitter:card" content="summary"/>
    <meta name="twitter:title" content="title">
    <meta name="twitter:description" content="description">
    <meta name="twitter:url" content="url">
    <meta name="twitter:creator" content="creator">
    <meta name="twitter:image" content="url->img/voty_512x512.png" />

    <link rel="canonical" href="url" />
    <link rel="icon" type="image/png" sizes="32x32" href="img/favicon_voty_16x16.png">
    <link rel="icon" type="image/png" sizes="32x32" href="img/favicon_voty_32x32.png">
    <link rel="icon" href="img/favicon_voty.ico">
    <link rel="shortcut icon" href="img/favicon_voty.ico" type="image/x-icon" /
    <link rel="manifest" href="manifest.webmanifest" />

    <style type="text/css"></style>
    </head>
    <body>
      {% block header %}
      <header>
        <nav>
  <!--a href="/">
    <img src="{% static 'PLATFORM_LOGO_URL'|get_setting %}" height="48px" alt="{{ 'PLATFORM_TITLE'|get_setting }}">
  </a-->
  <ul>
    <li><a href="/documentation">{% trans "Documentation" %}</a></li>
    <li><a href="/confidentiality">{% trans "Data Protection" %}</a></li>
    <li><a href="/about">{% trans "Legal Notice" %}</a></li>
    <!-- if auth-->
    <!--li><a href="/logout">{% trans "Sign out" %}</a></li-->
    <!-- else-->
    <!--li><a href="/login">{% trans "Login" %}</a></li-->
    <!--li><a href="/register">{% trans "Get Started" %}</a></li-->
    <!-- endif-->
    <li><a href="/language">{% trans "Set language" %}</a></li>
  </ul>
</nav>
      </header>
      {% endblock header %}
      <main>{% block content %}{% endblock content %}</main>
      <footer></footer>
    </body>
    </html>